# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/
.env
.venv
venv/
ENV/
env/

# VSCode / IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Flask / builds
instance/
*.sqlite3
*.db
*.log

# Migrations cache
migrations/**/__pycache__/

__pycache__/
*.pyc
instance/*.db
app/static/uploads/
*.rar
